@import './reseta.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

.login-container{
    background-color: rgb(0, 0, 0, 0.9);
    padding: 80px;
    color: #FFFFFF;
    box-shadow: 0 0 30px rgb(0, 0, 0.9);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

.form-control{
    margin-bottom: 15px;
}
button{
    width: 100%;
}
:root{
    --color-primary: #FFFFFF;
    --color-secodary:#F3E7FF;
    --color-calc:#615A62;
    --bg-color: #32154d;
    --bg-title-color: #C0AFD0;
    --bg-btn-color: #D0D0D8;
    --bg-btn-number-color: #DBDBDB;
    --bg-btn-equal-color: #DFC2F1;
    --bg-btn-hover-color: #C6C6C9; 
}

html{
    font-family: 'Monstserrat', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{          
    margin: 8px 0;
     
}